.nav-1 {
    background-color: #17181a;
}

.holder {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}

.leftSide {
    display: flex;
    align-items: center;
    position: relative;
    color: white;
}

.logo {
    /* height: 50px; */
    width: 50px;
    color: white;
}

.search--box {
    width: 20vw;
    height: 45px;
    margin-left: 10px;
    padding-left: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    background-color: #353533;
}

.search--box:focus {
    background-color: white;
}

.search--icon {
    position: absolute;
    left: 70px;
    top: 16px;
}

.cross--icon {
    position: absolute;
    right: 20px;
    top: 16px;
    font-weight: 100;
}

.division {
    margin-right: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.division:hover {
    background-color: #424242;
}

.right--side {
    display: flex;
    color: white;
}

img {
    height: 100%;
    object-fit: cover;
}

.img-thumbnail {
    width: 45px;
}

.--cover {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
}

.--hover:hover .--cover {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}